<div class="container">
    <div class="row" ng-hide="processing" >
        <div ng-show="error" style="width: 50%; margin: 20px auto; padding: 20px; background-color: rgb(223, 102, 83); color: white; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;">
            Error occured:
            <ul>
                <li ng-repeat="err in error">{{err}}</li>
            </ul>
        </div>
        <div class="cont-middle" >
            <h1 class="text-center login-title">Sign in to use SmartRead!</h1>
            <span class="text-center new-account">Not a member? <a href="#/register">Create an account &rsaquo;&rsaquo;</a></span>
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt="">
                <form class="form-signin" name="loginForm">
                    <input ng-model="user.user_email" class="form-control" placeholder="Email" type="email" required autofocus>
                    <input type="password" class="form-control" ng-model="user.user_password" placeholder="Password" required>
                    <button ng-click="login()" class="btn btn-large btn-primary btn-block">
                        Sign in</button>
                    <a href="#/" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                </form>
            </div>
        </div>
    </div>
    <div class="row" ng-show="processing" >
        <div style="margin-top: 40px; text-align: center; font-weight: bold;" class="container-middle ">
            Please wait..
        </div>
    </div>
</div>

<br/><br/>