<div class="span11">
    <h3 class="text-center">Reading Activity</h3>
    <highchart id="chart1" config="chartConfig.timeSpentByDates" ></highchart>
</div>

<div class="clearfix"></div> <br/><hr/>

<div class="span6">
    <h4 class="text-center">Total Time Spent By Books</h4>
    <highchart id="chart1" config="chartConfig.timeSpentByBooks" ></highchart>
</div>


<div class="span5">
    <h4 class="text-center">Your Popular Book Categories</h4>
    <p style="text-align: center;">Coming soon..</p>
    <!-- <highchart id="chart1" config="chartConfig.mostPopularCategories"></highchart> -->
</div>

<div class="clearfix"></div>
