<div class="jumbotron">
    <h1 style="font-size: 300%;">Play smart games!</h1>
    <p style="margin-top: 30px;" class="lead">These games will help you to learn new words in a fun way <br/> and increase your reading comprehension level by using your reading activity.</p>
</div>

<div>

    <ul class="games_ul" style="text-align: center;">
        <li class="games_li">
            <a class="game_name" style="" href="#/games/word-lookup-quiz">
                <img src="images/games_lookup.png" /> <br/>
                Word Look-up Quiz
            </a>
            <a href="#/games/word-lookup-quiz" class="btn btn-primary" type="button"> <i class=" icon-chevron-right icon-white"></i> Play now!</a>
            <p ng-show="stats.synonyma" style="margin-top: 10px; font-size: 80%;">(Total game plays: {{stats.word_quiz}} times)</p>
        </li>
        <li class="games_li">
            <a class="game_name" style="" href="#/games/synonyma">
                <img src="images/games_synonyma.png" /> <br/>
                Synonyma
            </a>
            <a href="#/games/synonyma" class="btn btn-primary" type="button"> <i class=" icon-chevron-right icon-white"></i> Play now!</a>
            <p ng-show="stats.synonyma" style="margin-top: 10px; font-size: 80%;">(Total game plays: {{stats.synonyma}} times)</p>
        </li>
        <li class="games_li">
            <a class="game_name">
                <img src="images/games_coming.png" /> <br/>
                More games <br/> coming soon..
            </a>
        </li>
    </ul>

</div>