<div class="jumbotron">
    <h1>Read in a smart way.</h1>
    <p style="margin-top: 30px;" class="lead">Select any book to start reading, customize the page layout to your desired font size, text color, background color, and more. We will be offering you services based on your reading activity.</p>
    <a style="margin-right: 30px;" class="btn btn-large btn-success" target="_self" href="../views/library.html">Start Reading</a>
    <a class="btn btn-large btn-primary" href="#/dashboard"><i class="icon-th-list icon-white"></i> Show My Activity</a>
</div>
