<div>
    <h3>Select book:</h3>
    <a style="margin-right: 10px;" ng-click="selectBook();"  class="btn btn-small btn-warning">All Books</a>
    <span ng-repeat="book in books">
        <a style="margin-right: 10px;" ng-click="selectBook(book);"  class="btn btn-small btn-inverse">{{book.book_name}} </a>
    </span>
</div>

<div style="margin-top: 40px;" class="well well-small">

    <h4 style="line-height: 40px;">
        <span ng-show="selectedBook">Your look-up words from <i>'{{ selectedBook.book_name }}'</i></span>
        <span ng-show="!selectedBook">Your all look-up words</i></span>
        <div class="pull-right">
            <button ng-click="startWordLookupQuiz();" ng-disabled="getNotQuizTakenWords().length == 0" class="btn btn-success"><b><i class=" icon-play-circle icon-white"></i> Play Word Quiz ({{getNotQuizTakenWords().length}} words)</b></button>
        </div>
    </h4>

    <hr/>

    <div>
        <span ng-show="!getSelectedBookWords().length">
            No lookup words yet..
        </span>
        <div ng-show="getSelectedBookWords().length > 0">
            <table class="table">
                <thead>
                <tr>
                    <th>Word</th>
                    <th style='text-align: center;'>Lookup Times</th>
                    <th style='text-align: center;'>Took Quiz</th>
                    <th style='text-align: center;'>Quiz Result</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="word in getSelectedBookWords()">
                        <td>{{word.word_lookup_word}}</td>
                        <td style='text-align: center;'>{{word.word_lookup_count}}</td>
                        <td style='text-align: center;'>{{word.word_lookup_quiz_taken | oneZeroToYesNo}}</td>
                        <td style='text-align: center;'>
                            <span class="label" ng-class="{true:'label-success', false:'label-important'}[word.word_lookup_quiz_result==1]" ng-show="word.word_lookup_quiz_taken == 1">{{word.word_lookup_quiz_result | oneZeroToSuccessFail}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
