/* Put your CSS here */
html, body {
    margin: 20px 0px;
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}


/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 960px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

.required-error {
    color:red;
    font-size: smaller;
}

.header-div {
    margin-bottom: 25px;
    margin-left: 10px;
}

.header-logo {
    color: #04aeda;
    text-decoration: none;
    font-size: 25px ;
    font-weight: bold;
    line-height: 40px;
}

.header-logo:hover{
    color: #047fa7;
    text-decoration: none;
}

.header-logo img{
    margin-right: 15px;
}

.content{
    background-color: rgb(247, 247, 247);
    padding: 10px 25px;
    min-height: 400px;
    border-radius: 5px;
}