<div ng-controller="HeaderCtrl">
    <div class="header-div">
        <a class="header-logo" href="#/" target="_self">
            <img src="../icons/36px.png"/>SmartRead
        </a>
    </div>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse collapse navbar-responsive-collapse" ng-controller="HeaderCtrl">
                    <ul class="nav">
                        <li ng-class="{active: ($location.path() == '/') }"><a href="#/">Home</a></li>
                        <li ng-class="{active: ($location.path() == '/dashboard') }"><a href="#/dashboard">Dashboard</a></li>
                        <li ng-class="{active: ($location.path() == '/word-lookup') }"><a href="#/word-lookup">Word-Lookups</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle">My Activity <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li>
                            <button ng-disabled="!user" style="margin-top:7px;" class="btn btn-small btn-info" ng-click="startReading();">
                                <span ng-show="!user" tooltip-html-unsafe="{{'You must log-in to start reading!'}}">Start Reading &rsaquo;&rsaquo;</span>
                                <span ng-show="user">Start Reading &rsaquo;&rsaquo;</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>