<div class="modal-header">
    <h3>
        Word Game
    </h3>
</div>
<div style="margin: 30px 0px 20px;">

    <div ng-show="quiz.status == flags.STATUSES.FINISHED">
        <p style="margin-top: 25px; text-align:  center; ">
            <h1>Game over!</h1> <br/>
            <p>You decided to quit. </p>
        </p>
        <p style="margin-top: 25px; text-align:  center; ">
            <h1>Game over!</h1> <br/>
            <p>You opponent has left. </p>
        </p>
    </div>

    <div ng-show="quiz.status == flags.STATUSES.ONGOING">
        <div ng-show="quiz.step == flags.STEPS.QUESTION" style="margin-top: 10px; text-align: center">
            <h4>Definition: </h4>
            <span>{{quiz.word.lookupResult.primary_means[0]}}</span> <br/>

            <h5 style="margin-top: 35px;">Guess the word: </h5>
            <input type="text" ng-model="quiz.answer.guess" ng-required="true" style="width: 30%;"/>

            <div style="margin-top: 15px; text-align:  center; ">
                <div ng-show="quiz.hint.status == flags.HINT.LOADING">
                    Hint loading, please wait.. <br/> <br/>
                </div>

                <div ng-show="quiz.hint.status == flags.HINT.SHOWING" style="margin-bottom: 20px;">
                    <span ng-repeat="image in quiz.hint.images">
                        <img style="max-width: 100px; max-height: 150px; margin-right: 15px;" src="{{ image.url }}"/>
                    </span>
                </div>
                <button ng-click="showResult()" ng-disabled="!quiz.answer.guess" class="btn btn-primary">Guess</button>
                <button class="btn btn-info" ng-click="finish()">Quit Game</button>
            </div>

        </div>

        <div ng-show="quiz.step == flags.STEPS.RESULT" style="margin-top: 10px;">
            <div class="well well-small answer_box">
                <div class="answer_result_box" ng-class="{correct_answer: quiz.answer.result, wrong_answer: !quiz.answer.result}">
                    <span ng-show="quiz.answer.result">Correct!</span>
                    <span ng-show="!quiz.answer.result">Wrong!</span>
                </div>
                <p>Answer: {{quiz.word.word_lookup_word}}</p>
                <p>Your guess: <span ng-bind="quiz.answer.guess"></span></p>

                <p style="margin-top: 25px; text-align:  center; ">
                    <button ng-disabled="quiz.status == flags.STATUSES.FINISHED" ng-click="nextQuestion()" class="btn btn-primary">Next Question >></button>
                </p>
            </div>
        </div>
    </div>
</div>

<textarea style="width: 100%; height: 300px;" ng-model="history"></textarea>

<input type="text" ng-model="messageText" placeholder="Type your message here" />
<input type="button" value="Send" data-ng-click="sendMessage()"/>

<br/><br/>
<input type="button" value="Quit" data-ng-click="quit()"/>
